@import "tailwindcss";


body {
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.roboto-slab {
  font-family: 'Roboto Slab', serif;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  animation: scroll 50s linear infinite;
  width: max-content;
}

/* pause animation on hover */
.testimonial-section:hover .animate-scroll {
  animation-play-state: paused;
}